<div id="schedule-page">
    <div class="schedule-bg" [ngStyle]="{
        'background': 'url(' + movie.imageUrl + ')'
    }">

    </div> 
    <div class="container">
        <div class="schedule-content">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{movie.title}}</h1>
                </div>
                <div class="col-md-12 col-lg-6">
                    <section id="hours-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">Choose a Time</div>
                                <div class="hours-menu">
                                    <div class="time" (click)="chooseTime('3:00pm')" [ngClass]="{
                                        'selected': time === '3:00pm'
                                    }">3:00pm</div>
                                    <div class="time" (click)="chooseTime('6:00pm')" [ngClass]="{
                                        'selected': time === '6:00pm'
                                    }">6:00pm</div>
                                    <div class="time" (click)="chooseTime('9:00pm')" [ngClass]="{
                                        'selected': time === '9:00pm'
                                    }">9:00pm</div>
                                    <div class="time" (click)="chooseTime('11:30pm')" [ngClass]="{
                                        'selected': time === '11:30pm'
                                    }">11:30pm</div>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                    <section id="tickets-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title">How Many Tickets?</div>
                                <div class="tickets-menu">
                                    <div class="ticket-selection">
                                        <div class="cols">Adult</div>
                                        <div class="cols"><input type="text" [(ngModel)]="adultTickets"></div>
                                        <div class="cols"> x ${{adultTicketPrice}}</div>
                                        <div class="cols">= ${{adultTickets * adultTicketPrice}}</div>
                                    </div>
                                    <div class="ticket-selection">
                                        <div class="cols">Child</div>
                                        <div class="cols"><input type="text" [(ngModel)]="childTickets"></div>
                                        <div class="cols">x ${{childTicketPrice}}</div>
                                        <div class="cols">= ${{childTickets * childTicketPrice}}</div>
                                    </div>
                                    <div class="ticket-selection">
                                        <div class="cols">Senior</div>
                                        <div class="cols"><input type="text" [(ngModel)]="seniorTickets"></div>
                                        <div class="cols">x ${{seniorTicketPrice}}</div>
                                        <div class="cols">= ${{seniorTickets * seniorTicketPrice}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
                <div class="col-md-12 col-lg-6">
                    <section id="chair-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="chairs-grid">
                                    <ng-container *ngFor="let chair of movie.chairs; index as i">
                                        <div class="chair" [ngClass]="{
                                            'reserved': chair === 'reserved',
                                            'selected': chair === 'selected'
                                        }" (click)="clickedChair(movie.slug, i)"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <div class="chairs-legend">
                            <div class="icon">
                                <div class="selected-box"></div>
                                <span class="text">Selected</span>
                            </div>
                            <div class="icon">
                                <div class="reserved-box"></div>
                                <span class="text">Reserved</span>
                            </div>
                            <div class="icon">
                                <div class="open-box"></div>
                                <span class="text">Available</span>
                            </div>
                        </div>

                        <div class="continue">
                            <div class="continue-btn" (click)="clickedContinue()">
                                Continue
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>